/* Стиль для верхнего колонтитула */
.header {
    padding: 10px 0;
    background-color: #000000;
    color: #fff;
    position: relative;
}

.header img {
    width: 50px;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-nav .nav-link {
    color: white !important;
}

.header .btn {
    background-color: #FF0000;
    border: none;
}

/* Основной контент */
.section-title {
    text-align: center;
    margin: 40px 0;
}

/* Основной контейнер для изображений и правой картинки */
.section-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

/* Левая часть с иконками */
.col-6 .mb-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex: 1;
}

/* Индивидуальные стили для изображений в иконках */
.col-6, .col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-6 mb-3 img {
    width: 33%;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Текст под изображениями */
.col-6 p, .col-md-3 p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Правое изображение */
.space-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-image-container img {
    width: 75%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Адаптивные настройки для больших экранов */
@media (min-width: 768px) {
    .section-content {
        gap: 20px;
    }
}

/* Слайдер в подвале */
.podval {
    width: 100%;
    background-color: #696969;
    padding: 40px 0;
    overflow: hidden;
}


/* Контейнер для основного слайдера */
.slider-for img {
    display: block !important;
    margin: 0 auto !important;
    max-width: 30%;
    border-radius: 5%;
}

/* Миниатюры слайдера */
.slider-nav {
    margin-top: 10px;
    width: 50%;
    margin: 25px auto;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2px;
    height:45px;
}

/* Миниатюры слайдера */
.slider-nav img {
    margin-right: 10px;
    width: 115px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 8px;
    padding: 0;
    border: none !important;
    box-shadow: none !important;
    transition: transform 0.3s ease;
}



/* Стрелки для слайдера */
.slider-nav .slick-prev,
.slider-nav .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 80px;
    font-size: 0;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none !important;
}



/* Позиционирование стрелок мини-слайдера */
.slider-nav .slick-prev {
    left: -50px;
}

.slider-nav .slick-next {
    right: -50px;
}

/* Для мобильных устройств уменьшаем размер стрелок */
@media (max-width: 768px) {
    .slick-prev, .slick-next {
        font-size: 18px;
        padding: 8px;
    }
}

/* Убираем смещение слайдов */
.slick-track {
    display: flex;
    align-items: center;
}

#imageModal .modal-content {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalImage {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.modal-body {
    position: relative;
    overflow: hidden;
    padding: 0;
}

.modal-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

img#modalImage {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}